body{
    background: #202028;
    color: #fff;
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
}
canvas{
    border: solid .2em #0DC2FF;
    height: 70%;
}
#t{
    color: #FF0D72;
}
#e{
    color: #0DC2FF;
}
#t2{
    color: #0DFF72;
}
#r{
    color: #F538FF;
}
#i{
    color: #FF8E0D;
}
#s{
    color: #FFE138;
}
#sc{
    color: #F538FF;
    font-size: 25px;
}
#play{
    background-color: #FF8E0D;
    color: black;
    padding: 10px;
    font-size: 15px;
    margin: 20px 20px 25px 20px;
}
#reset{
    background-color: #FF0D72;
    color: black;
    padding: 10px;
    font-size: 15px;
    margin: 20px 20px 25px 20px;
}
#instructions{
    background-color: #0DFF72;
    color: black;
    padding: 10px;
    font-size: 15px;
    margin: 20px 20px 25px 20px;
}
p {
    line-height: 1.5;
    color: white;
    font-size: 15px;
}
#myModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: white;
    background-color: rgba(0, 0, 0, 0.4);
}
#modal-content {
    background-color: black;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#mus{
    color: white;
}

